html{
    background-color: #EFF1F6
}
section {
    overflow: scroll;
}
p {
    text-align: right
}

#securities, #client-securities, #security-panel, #client-panel {
    min-height: 60px;
    border: 1px solid #7E8890;
    box-shadow: -11px 6px 25px -6px rgba(117,117,117,1);
    border-radius: 6px;
    padding: 4px;
    margin: 4px;
}
ul {
    -webkit-padding-start: 0;
}

li strong {
    float: left;
}
li img {
    float: right;
}
body section {
    max-width: 600px;
    margin: auto
}

header {
    background-color:#BCBEC0;
     font-size: 50px;
     color:#0099cd;
     text-align: center;
     padding: 10px 60px;
     max-width: 100%;
     font-family: "Garamond"
}
li {
    background-color: azure;
    border-color: black;
    border-width: 2px;
    margin: 3px;
    padding: 10px 30px;
    height: 3em;
    min-height: 74px;
    list-style-type: none;
    text-wrap: none;
    overflow: hidden;
    cursor: grab;
}

li:active {
    cursor: grabbing;
}

p {
    text-align: right
}
#client-panel .risk-number img, #client-panel .client-image img {
    width: 100%;
}
.advertisement {
    position: absolute;
    display: block;
    left: 7px;
    top: 100px;
    max-width: 208px;
    font-size: 10px;
    border: solid lightgray 1px;
    border-radius: 3px;
    padding:3px;
}
.advertisement img {
    width: 200px;
}
#client-panel{
}
#security-panel{
    max-height: 500px;
    overflow-y: scroll;
}
.risk-number-img {
    width: 3em;
}
