html{
    background-color: #EFF1F6
}
section {
    overflow: scroll;
}
p {
    text-align: right
}

#securities, #client-securities {
    min-height: 15px;
}

#securities, #client-securities {
    min-height: 15px
}
header {
    background-color:#BCBEC0;
     font-size: 50px;
     color:#0099cd;
     text-align: center;
     max-width: 100%;
}
li {
    background-color: azure;
    border-color: black;
    border-width: 2px;
}
p {
    text-align: right
}
.advertisement {
    position: absolute;
    display: block;
    left: 7px;
    top: 100px;
    max-width: 350px;
}
footer {
    font-size :14px;
}
#client-panel{
}
#securities-panel{
}
